.characterView
	.characterName
		font-size: 2em
		font-weight: bold

	.choices
		background-color: lightgrey

	.choice
		padding: 0.5em 1em
		margin: 0.5em

	.chosen
		background-color: darkgrey

	.stats
		font-family: Garamond
		display: grid
		grid-template: auto/4em 2em 4em
		.statLabel
			font-weight: bold
		.statUnmodifiedValue
			font-style: italic

.simpleDialog

.separateLine
	display: block